<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/styles.css" />
  <title>About Page</title>
</head>

<body>
  <h1>{{title}}</h1>
  <p>Created by {{name}}</p>
  <img src="./img/me.jpg" alt="my profile image" />
</body>

</html>